<div class="container">
    <h1>Mis tableros</h1>

    <% @boards.each_with_index do |board, idx| %>
        <%if idx%3 == 0%>  
            <div class="row margin-top">
                <%[idx, idx+1, idx+2].each do |n| %>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><%=@boards[n].title%></h5>
                                <p class="card-text"><%=@boards[n].description%></p>
                                <a href="#" class="btn btn-primary">Ver completo</a>
                            </div>
                        </div>
                    </div>
                 <%end%>
            </div>
        <%end%>
    <% end %>
</div>
